@font-face {  
  font-family: 'AlibabaPuHuiTiB';  
  src: url('ALIBABA-PUHUITI-BOLD.OTF');   
  font-weight: normal;  
  font-style: normal;  
}
@font-face {  
  font-family: 'AlibabaPuHuiTiH';  
  src: url('ALIBABA-PUHUITI-HEAVY.OTF');   
  font-weight: normal;  
  font-style: normal;  
}
@font-face {  
  font-family: 'AlibabaPuHuiTiL';  
  src: url('ALIBABA-PUHUITI-LIGHT.OTF');   
  font-weight: normal;  
  font-style: normal;  
}
@font-face {  
  font-family: 'AlibabaPuHuiTiM';  
  src: url('ALIBABA-PUHUITI-MEDIUM.OTF');   
  font-weight: normal;  
  font-style: normal;  
}
@font-face {  
  font-family: 'AlibabaPuHuiTiR';  
  src: url('ALIBABA-PUHUITI-REGULAR.OTF');   
  font-weight: normal;  
  font-style: normal;  
}